<div class="container">
  <header class="header">
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo Aluga Aqui" class="logo">
      <a class="site-title" routerLink="/">Aluga Aqui</a>
    </div>
    <nav class="nav">
      <a routerLink="/catalogo">Catálogo</a>
      <a routerLink="/painel">Painel</a>
    </nav>
  </header>

  <main class="main-content">
    <h2>Gerenciamento de Carros</h2>

    

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Cor</th>
          <th>Placa</th>
          <th>Disponível</th>
          <th>KM Rodados</th>
          <th>Sede</th>
          <th>Cidade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carro of carros">
          <td>{{ carro.id }}</td>
          <td>{{ carro.nome }}</td>
          <td>{{ carro.cor }}</td>
          <td>{{ carro.documento.placa }}</td>
          <td>{{ carro.disponivel ? 'Sim' : 'Não' }}</td>
          <td>{{ carro.kmRodados }}</td>
          <td>{{ carro.sede.endereco.rua }}</td>
          <td>{{ carro.sede.endereco.cidade }} - {{ carro.sede.endereco.estado }}</td>

          <td>
            <button class="custom-button" (click)="editCarro(carro)">Editar</button>
            <button class="custom-button" (click)="deleteCarro(carro.id)">Excluir</button>
            <button class="custom-button" (click)="viewDetails(carro)">Ver Documentos</button>
          </td>
        </tr>
      </tbody>
    </table>
<br>
    <button class="custom-button" (click)="toggleAddForm()">Adicionar Carro</button>

    <div class="form-sections">
      <div *ngIf="showAddForm" class="form-container">
        <h2>Adicionar Carro</h2>
        <form (ngSubmit)="addCarro()">
          <label for="nome">Nome:</label>
          <input [(ngModel)]="newCarro.nome" name="nome" required>
          <label for="cor">Cor:</label>
          <select [(ngModel)]="newCarro.cor" name="cor" required>
            <option *ngFor="let cor of corOptions" [value]="cor">{{ cor }}</option>
          </select>
          <label for="kmRodados">KM Rodados:</label>
          <input [(ngModel)]="newCarro.kmRodados" name="kmRodados" required type="number">
          <label for="valorDiariaAtual">Valor da Diária Atual:</label>
          <input [(ngModel)]="newCarro.valorDiariaAtual" name="valorDiariaAtual" required type="number">
          <label for="disponivel">Disponível:</label>
          <input [(ngModel)]="newCarro.disponivel" name="disponivel" required type="checkbox">
          <label for="modelo">Modelo:</label>
          <input [(ngModel)]="newCarro.modelo.fabricante" name="modelo" required>
          <label for="sede">Sede:</label>
          <input [(ngModel)]="newCarro.sede.endereco" name="sede" required>
          <label for="documento">Placa:</label>
          <input [(ngModel)]="newCarro.documento.placa" name="documento" required>
          <button class="custom-button" type="submit">Adicionar</button>
          <button class="custom-button cancel-button" type="button" (click)="cancelAdd()">Cancelar</button>
        </form>
      </div>

      <div *ngIf="editingCarro && showDetailsForm" class="form-container">
        <h2>Detalhes do Carro</h2>
        <form (ngSubmit)="updateCarro()">
          <label for="nome">Nome:</label>
          <input [(ngModel)]="editingCarro.nome" name="nome" required>
          
          <label for="cor">Cor:</label>
          <select [(ngModel)]="editingCarro.cor" name="cor" required>
            <option *ngFor="let cor of corOptions" [value]="cor">{{ cor }}</option>
          </select>
          
          <label for="kmRodados">KM Rodados:</label>
          <input [(ngModel)]="editingCarro.kmRodados" name="kmRodados" required type="number">
          
          <label for="valorDiariaAtual">Valor da Diária Atual:</label>
          <input [(ngModel)]="editingCarro.valorDiariaAtual" name="valorDiariaAtual" required type="number">
          
          <label for="disponivel">Disponível:</label>
          <input [(ngModel)]="editingCarro.disponivel" name="disponivel" required type="checkbox">

          <label for="modeloNome">Nome do Fabricante:</label>
          <input [(ngModel)]="editingCarro.modelo.fabricante" name="modeloNome" required>

          <label for="sedeNome">Nome da Sede:</label>
          <input [(ngModel)]="editingCarro.sede.endereco.rua" name="sedeNome" required>

          <label for="placa">Placa:</label>
          <input [(ngModel)]="editingCarro.documento.placa" name="placa" required>
          <label for="renavam">RENAVAM:</label>
          <input [(ngModel)]="editingCarro.documento.renavam" name="renavam" required>
          <label for="crv">CRV:</label>
          <input [(ngModel)]="editingCarro.documento.crv" name="crv" required>
          <label for="chassi">Chassi:</label>
          <input [(ngModel)]="editingCarro.documento.chassi" name="chassi" required>

          <button class="custom-button" type="submit">Salvar</button>
          <button class="custom-button cancel-button" type="button" (click)="closeDetailsForm()">Cancelar</button>
        </form>
      </div>
    </div>
  </main>
</div>
