<div class="container">
  <header class="header">
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo Aluga Aqui" class="logo">
      <a class="site-title" routerLink="/">Aluga Aqui</a>
    </div>
    <nav class="nav">
      <a routerLink="/catalogo">Catálogo</a>
      <a routerLink="/perfil">Perfil</a>
      <a routerLink="/painel">Painel</a>
    </nav>
  </header>

  <main class="main-content">
    <h2>Gerenciamento de Carros</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Cor</th>
          <th>Disponível</th>
          <th>Km Rodados</th>
          <th>Valor Diária</th>
          <th>Modelo ID</th>
          <th>Sede ID</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carro of carros">
          <td>{{ carro.id }}</td>
          <td>{{ carro.nome }}</td>
          <td>{{ carro.cor }}</td>
          <td>{{ carro.disponivel ? 'Sim' : 'Não' }}</td>
          <td>{{ carro.kmRodados }}</td>
          <td>R$ {{ carro.valorDiariaAtual }}</td>
          <td>{{ carro.modeloId }}</td>
          <td>{{ carro.sedeId }}</td>
          <td>
            <button class="custom-button" (click)="selectCarro(carro)">Editar</button>
            <button class="custom-button delete-button" (click)="deleteCarro(carro.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="form-sections">
      <div *ngIf="mostrarFormularioEditar" class="form-container">
        <h2>Editar Carro</h2>
        <form (ngSubmit)="updateCarro()">
          <label for="nome">Nome:</label>
          <input [(ngModel)]="carroSelecionado!.nome" name="nome" required>
          <label for="cor">Cor:</label>
          <select [(ngModel)]="carroSelecionado!.cor" name="cor">
            <option *ngFor="let cor of ['BRANCO', 'PRATA', 'VERMELHO', 'PRETA']" [value]="cor">{{ cor }}</option>
          </select>
          <label for="disponivel">Disponível:</label>
          <label class="custom-checkbox">
            <input type="checkbox" [(ngModel)]="carroSelecionado!.disponivel" name="disponivel">
            <span class="slider"></span>
          </label>
          <label for="kmRodados">Km Rodados:</label>
          <input type="number" [(ngModel)]="carroSelecionado!.kmRodados" name="kmRodados" required>
          <label for="valorDiariaAtual">Valor Diária Atual:</label>
          <input type="number" [(ngModel)]="carroSelecionado!.valorDiariaAtual" name="valorDiariaAtual" required>
          <label for="modeloId">Modelo ID:</label>
          <input type="number" [(ngModel)]="carroSelecionado!.modeloId" name="modeloId" required>
          <label for="sedeId">Sede ID:</label>
          <input type="number" [(ngModel)]="carroSelecionado!.sedeId" name="sedeId" required>
          <button class="custom-button" type="submit">Salvar</button>
          <button class="custom-button cancel-button" type="button" (click)="clearSelection()">Cancelar</button>
        </form>
      </div>

      <div *ngIf="!mostrarFormularioEditar" class="form-container">
        <h2>Adicionar Carro</h2>
        <button *ngIf="!mostrarFormularioAdicionar" (click)="toggleFormularioAdicionar()" class="custom-button">Adicionar</button>
        <div *ngIf="mostrarFormularioAdicionar">
          <form (ngSubmit)="createCarro()">
            <label for="nome">Nome:</label>
            <input [(ngModel)]="novoCarro.nome" name="nome" required>
            <label for="cor">Cor:</label>
            <select [(ngModel)]="novoCarro.cor" name="cor">
              <option *ngFor="let cor of ['BRANCO', 'PRATA', 'VERMELHO', 'AZUL']" [value]="cor">{{ cor }}</option>
            </select>
            <label for="disponivel">Disponível:</label>
            <label class="custom-checkbox">
              <input type="checkbox" [(ngModel)]="novoCarro.disponivel" name="disponivel">
              <span class="slider"></span>
            </label>
            <label for="kmRodados">Km Rodados:</label>
            <input type="number" [(ngModel)]="novoCarro.kmRodados" name="kmRodados" required>
            <label for="valorDiariaAtual">Valor Diária Atual:</label>
            <input type="number" [(ngModel)]="novoCarro.valorDiariaAtual" name="valorDiariaAtual" required>
            <label for="modeloId">Modelo ID:</label>
            <input type="number" [(ngModel)]="novoCarro.modeloId" name="modeloId" required>
            <label for="sedeId">Sede ID:</label>
            <input type="number" [(ngModel)]="novoCarro.sedeId" name="sedeId" required>
            <button class="custom-button" type="submit">Adicionar</button>
            <button class="custom-button cancel-button" type="button" (click)="toggleFormularioAdicionar()">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
