<div class="container">
    <header class="header">
        <div class="logo-container">
            <img src="assets/logo.png" alt="Logo Aluga Aqui" class="logo">
            <a class="site-title"  routerLink="/">Aluga Aqui</a>
        </div>
        <nav class="nav">
            <a routerLink="/perfil">Perfil</a>
            <a routerLink="/painel">Painel</a>
            <a routerLink="/catalogo">Catálogo</a>
        </nav>
    </header>
    <main class="main-content">
        <h2>As operações de alugar um carro ficarão aqui</h2>
    </main>
</div>
