* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
}

.container {
  text-align: center;
  background: linear-gradient(to left, #e0e0e0, #ffffff);
  padding: 0px;
  height: 100vh;
}

.logo-container {
  display: flex;
  align-items: center;
}

.site-title{
  font-size: 25px;
  color: white;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.3s;
}

.site-title:hover {
  color: #ffcccc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cc0000;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 50px;
}

.nav a {
  font-size: 18px;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav a:hover {
  color: #ffcccc;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 150px 20px 20px;
}

h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

p {
  font-size: 20px;
  color: #666;
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.button-container-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 550px;
  margin: 20px auto;
}

.custom-button {
  background-color: #cc0000;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 200px;
  height: 100px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
  background-color: #b30000;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-button:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
