<div class="container">
    <header class="header">
        <div class="logo-container">
            <img src="assets/logo.png" alt="Logo Aluga Aqui" class="logo">
            <a class="site-title">Aluga Aqui</a>
          </div>
      <nav class="nav">
        <a routerLink="/catalogo" >Catálogo</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Cadastro</a>
      </nav>
    </header>
    <main class="main-content">
      <img src="assets/logo.png" alt="Car Logo" class="car-logo">
      <h2>SISTEMA <span class="highlight">ALUGA AQUI</span></h2>
      <p>Um sistema de <span class="highlight">aluguel de carros</span> que oferece uma solução conveniente e segura para os clientes que desejam alugar veículos de diferentes categorias e sedes.</p>
      <button class="alugue-button" routerLink="/catalogo">Alugue aqui!</button>
    </main>
  </div>
  